.main-header {
  .sidebar-toggle {
    font-family: "Glyphicons Halflings";
  }
  .sidebar-toggle:before {
    content: "\e055";
  }
}
.sidebar-menu {
  .treeview-menu > li {
    border-bottom: 0.5px solid #666;
  }
  li.active > a > .glyphicon-menu-left {
    transform: rotate(-90deg);
  }
}

.logo-wrapper {
  padding: 15px;
  border-bottom: 3px solid #A4C749;
  margin-bottom: 10px;
  text-align: center;
  background-color: #666;
  img{
    width: 250px;
  }
  a b{
    color: #fff;
    vertical-align: bottom;
  }
}

.pagination-sm li > a,
.pagination-sm li > span {
  padding: 5px 10px;
  font-size: 12px;
  line-height: 1.5;
}
.pagination-sm li:first-child > a,
.pagination-sm li:first-child > span {
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
}
.pagination-sm li:last-child > a,
.pagination-sm li:last-child > span {
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
}
.contacts-list-img{
  max-height: 40px;
}

// --------- Common Classes ---------

.pointer{
  cursor: pointer;
}
.font-small{
  font-size: 8px;
}
.v-align-t{
  vertical-align: top;
}
.sm-image{
  width: 48px;
}
.disabled{
  opacity: 0.65;
  filter: alpha(opacity=65);
}
.word-break {
  word-wrap: break-word;
}
.width-50{
  width: 50%;
}
.text-inherit{
  color: inherit;
}
.text-underline{
  text-decoration: underline;
}
.btn-compact{
  padding: 3px 10px;
}
.label-padding{
  padding: 6px 12px 6px 0;
}
.padding-r-0{
  padding-right: 0 !important;
}
.padding-l-0{
  padding-left: 0 !important;
}
.margin-b-20{
  margin-bottom: 20px !important;
}
.margin-b-10{
  margin-bottom: 10px !important;
}
.margin-t-10{
  margin: 10px 0 0 !important;
}
.z-index-10{
  z-index: 10;
}
.extra-tr th{
  padding: 0 !important;
  &.per-serving{
    border-top: 2px solid;
  }
}
.table-hover > tbody > tr.active.hover, .table-hover > tbody > tr.active.hover td {
  background-color: #f5f5f5;
}
.border-nvay{
  border-color: #001a35 !important;
}
.glyphicon-spin {
  -webkit-animation: spin 1000ms infinite linear;
  animation: spin 1000ms infinite linear;
}
@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg);
  }
}
@keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg);
  }
}
.loader {
  display: none;
  .overlay, .loading-img {
    z-index: 50;
    background: rgba(255, 255, 255, 0.7);

    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    & > .glyphicon {
      position: absolute;
      top: 50%;
      left: 50%;
      margin-left: -15px;
      margin-top: -15px;
      color: #000;
      font-size: 30px;
    }
  }
}
select.form-control{
  option {
    font-weight: normal;
    display: block;
    white-space: pre;
    min-height: 1.2em;
    padding: 0 12px 1px;
  }
}

.dt-bootstrap {
  .dt-buttons {
    float: left;
  }
}
.meal-info{
  .img-responsive{
    margin: 0 auto;
  }
  .meal-table .row {
    max-height: 500px;
    overflow-y: auto;
  }
  .table td.text-left{
    text-align: left;
  }
  .is-repeat{
    color: green;
    font-weight: bold;
    position: absolute;
    right: 10px;
    top: 0;
  }
  .is-repeat + .form-control{
    padding-right: 72px;
  }
  #previous-meals-carousel{
    .carousel-caption{
      padding: 0;
      bottom: 0;
      left: 0;
      right: 0;
      background: rgba(0, 166, 90, 0.80) none repeat scroll 0 0;
    }
    .img-responsive{
      max-height: 80px;
    }
    .thumbnail{
      position: relative;
    }
  }
}
.meal-info, .build-week-summary {
  .carousel-control {
    left: -35px;
    width: 45px;
    & span{
      outline: 0 none;
      text-decoration: none;
      width: auto;
      height: auto;
      border-radius: 20px;
      border: 2px solid transparent;
    }
    &:hover span, & span:hover{
      border: 2px solid #00a65a;
    }
    &:hover{
      background-image: linear-gradient(to left, rgba(0, 0, 0, 0) 0px, rgba(0, 0, 0, 0.1) 100%);
    }
  }
  .carousel-control.right{
    left: auto;
    right: -35px;
    &:hover{
      background-image: linear-gradient(to right, rgba(0, 0, 0, 0) 0px, rgba(0, 0, 0, 0.1) 100%);
    }
  }
}
#choose-rm-modal .meal-info:hover, #choose-sm-modal .meal-info:hover {
  background-color: #ffdf77 !important;
  cursor: pointer;
}
.truncate {
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.build-week-summary {
  .cname-block {
    float: left;
    margin-left: 10px;
    padding: 10px 0;
    .cname {
      font-size: 18px;
      color: #6D6D6D;
    }
    .ctype {
      font-size: 17px;
      color: #679A1A;
    }
  }
  #send-summary {
    .btn {
      position: absolute;
      right: 0;
      top: -40px;
    }
    .go-back {
      right: 125px;
    }
  }
  #modify-message textarea {
    height: 200px;
    resize: none;
  }
  .mail-container{
    min-width: 970px;
  }
  .table .table{
    background: transparent;
  }
    .custom-message,.choose-meal {
      min-height: 26px;
      position: relative;
      .isEmpty{
        font-weight: bold;
      }
    }
    .custom-message:hover,.choose-meal:hover {
      cursor: pointer;
      background-color: #ffdf77;
      box-shadow: 0 0 6px #fdf5ce;
      margin-left: -15px;
      margin-right: -15px;
      padding: 0 15px;
    }
  .wmr-message {
    .fa-pencil, .fa-plus, .no-img{
      display: none;
    }
    margin: 0 0 15px 15px;
    .choose-meal{
      padding-top: 5px;
    }
    .choose-meal:hover {
      padding: 5px 15px 0;
    }
    p {
      margin: 0;
    }
    a {
      pointer-events: none;
    }
    .choose-meal[data-target="#build-suggested-meal"] + p {
      display: none;
    }
    .choose-meal[data-target="#build-suggested-meal"]:hover .fa-pencil {
      display: none;
    }
    .choose-meal[data-target="#build-suggested-meal"]:hover .fa-plus {
      display: block;
      position: absolute;
      right: 2px;
      top: 2px;
    }
  }
  .custom-message:hover .fa-pencil,.choose-meal:hover .fa-pencil{
    display: block;
    position: absolute;
    right: 2px;
    top: 2px;
  }
  /*#choose-meal-modal{
    .rm-title,
    .sm-title{
      display: none;
    }
    &.recent-meal{
      .rm-title{
        display: block;
      }
    }
  }*/
  .meal-info {
    background-color: #f0f0f0;
    border: 1px solid #ccc;
    border-radius: 3px;
    .background-img {
      width: 100%;
      margin: 4px 0;
      height: 120px;
    }
  }
  .mtype-name {
    margin: 0 5px;
    font-size: 13px;
    text-align: left;
  }
}
.alert{
  padding: 8px 30px 8px 8px;
}
#build-suggested-meal .alert{
  margin-bottom: 0;
}
#msg-form .alert{
  margin-bottom: 12px;
}
.provider-img {
  float: left;
  width: 60px;
  border-radius: 50%;
  border: 2px solid #fff;
  max-height: 65px;
  min-height: 55px;
}


.select2-container .select2-selection--single{
  height: 34px !important;
}
// UI issue fix for select2 drop-down bug
#build-suggested-meal .select2-container.select2-container--default.select2-container--open {
  top: auto !important;
}
.select2-result-repository { padding-top: 4px; padding-bottom: 3px; }
.select2-result-repository__title { color: black; font-weight: bold; word-wrap: break-word; line-height: 1.1; margin-bottom: 4px; }
.select2-result-meta_info{ margin-right: 1em; display: inline-block; color: #aaa; font-size: 11px; }
.select2-result-repository__description { font-size: 13px; color: #777; margin-top: 4px; }
.select2-results__option--highlighted .select2-result-repository__title { color: white; }
.select2-results__option--highlighted .select2-result-repository__description, .select2-results__option--highlighted .select2-result-meta_info { color: #c6dcef; }

#select2-old-msg-results{
  .select2-results__option.select2-results__option--highlighted{
    background-color: #3c8dbc;
  }
}
#meal-rec-mail{
  width: 100%;
  min-height: 500px;
}
.mail-status{
  .label-success, &.sent .label-danger{
    display: none;
  }
  .label-danger, &.sent .label-success {
      display: inline-block;
  }
}
#build-suggested-meal {
  .img-wrap{
    margin-bottom: -20px;
    position: relative;
  }
  .fa.fa-times {
    cursor: pointer;
    display: none;
    position: absolute;
    right: 12px;
    top: 5px;
  }
}
.hs-dt-filter {
  margin-bottom: -38px;
  padding-bottom: 5px;
  h4 {
    margin: 0;
  }
  .form-group, .form-control {
    display: inline-block;
    margin-bottom: 0;
    vertical-align: middle;
  }
  .form-group {
    margin-right: 1em;
  }
  .form-control {
    width: auto;
  }
}
.my-patients{
  .dataTables_wrapper .dataTables_filter input{
    margin-right: 0.5em;
  }
}

.table.no-padding{
  & > tbody > tr > td,
  & > tbody > tr > th,
  & > tfoot > tr > td,
  & > tfoot > tr > th,
  & > thead > tr > td,
  & > thead > tr > th {
    padding: 0;
  }
}

.max-characters {
  font-size: 11px;
  padding: 2px;
  bottom: 0;
  right: -105px;
  background-color: #eee;
}

.select-image {
  background: rgba(0, 0, 0, 0.5) none repeat scroll 0 0;
  bottom: 0;
  cursor: pointer;
  color: #fff;
  display: block;
  font-weight: bold;
  left: 0;
  margin: 0 8px;
  padding: 0;
  right: 0;
  position: relative;
  top: -20px;
}
.unlock-btn{
    cursor: pointer;
    font-weight: bold;
    position: absolute;
    right: 10px;
    top: 4px;
  }
.unlock-btn + .form-control{
  padding-right: 32px;
}

.source-of-cal {
  margin-top: 8px;
  & > span {
    margin-left: 40px;
  }
}
#food-loader {
  bottom: 6px;
  display: none;
  position: absolute;
  right: 20px;
  z-index: 11;
}

#tz-msg {
  position: absolute;
  bottom: 5px;
  right: 30px;
}
.dt-has-btn {
  margin-top: -30px;
}
// Style for Create Message page only
.create-message{
  textarea{
    resize: none;    
  }
}
.checkbox.hs-chk input {
  top: -2px;
}

// Style for Manage Message page only
.has-chk-filter {
  .dataTables_filter {
    .checkbox {
      margin-right: 10px;
      input {
        vertical-align: text-bottom;
      }
    }
  }
}
.create-group-wmr{
  .well{
    background: transparent;
  }
}
.btn-link.pull-right.pointer {
    margin-top: 26px;
}