/* here you can put your own css to customize and override the theme */
.margin-top-20{
    margin-top:20px;
}
.margin-top-10{
    margin-top:10px;
}
.margin-btm-20{
    margin-bottom:20px;
}
.margin-t-m-10{
    margin-top:-10px;
}
.margin-btm-10{
    margin-bottom:10px;
}
.margin-t-b-20{
    margin-bottom: 20px;
    margin-top:20px;
}
.margin-t-b-10{
    margin-bottom: 10px;
    margin-top:10px;
}
.margin-0{
    margin: 0px;
}
.padding-0{
    padding: 0px!important;
}
.border-left{
    border-left: 1px solid #c2cad8;
}
.border-bottom{
    border-bottom: 1px solid #c2cad8;
}
.page-header .page-header-menu li > a > .arrow::before{
    float: right;
    width: 20px;
    text-align: center;
    display: inline;
    font-size: 16px;
    font-family: FontAwesome;
    height: auto;
    content: "\f107";
    font-weight: 300;
    text-shadow: none;
    position: absolute;
    right: 14px;
}
.page-header .page-header-menu li > a > .arrow{
    width:20px;
    float: left;
}
.page-header .page-header-top .page-logo .logo-default {
    margin: 15px 0 0;
}
.memberid{
    font-size: 19px;
    font-weight: 600;
}
.member-table tr td p{
    margin:0px;
}
.member-table tr td .btn-xsm{
    padding: 2px 5px;
    font-size: 11px;
    margin: 5px 5px 0 0;
}
.member-table tr td .btn-sm{
    margin: 5px 5px 0 0;
}

.member-table tr td .pri-msg{
    font-size: 16px;
    font-weight: 600;
}
.member-table tr td .pri-msg a {
    font-size: 16px;
    font-weight: 600;
    color: #4B77BE;
}
.member-table tr td .sec-msg{
    font-size: 14px;
}
.member-table tr td .sec-msg a{
    font-size: 14px;
    color: #4B77BE ;
}
.member-name{
    font-size: 14px;
    color: #4B77BE ;
    word-wrap: break-word;
    word-break: break-all;
}
.member-name:hover, .member-table tr td .sec-msg a:hover, .member-table tr td .pri-msg a:hover {
    color: #23527c ;
}
.member-table tr td .recm-msg{
    font-size: 16px;
    font-weight: 600;
    color: #999;
}
.member-table tr td .recm-msg i{
    font-size: 16px;
    font-weight: 600;
    color: #333333;
}
.messages i{
    color: #333;
}
.member-table .user-pic{
    width: 28px;
    height: 28px;
}
.send-btn .btn.grey-gallery{
    margin-left: 0;
    margin-right: -1px;
}
.send-btn .btn-group{
    float: right;
}
.btn-hide, .btn-pin, .btn-unhide{
    font-size: 17px;
    padding: 2px 6px;
}
div[class^="col-"]
.member-table tr td div[class^="col-"]{
    padding-left: 0px;
    padding-right: 0px;

}
.page-header .page-header-top .top-menu .navbar-nav > li.dropdown > .dropdown-toggle.facility_dd{
    padding: 3px 12px !important;
    margin: 10px auto !important;
}
.page-header .page-header-top .top-menu .navbar-nav > li.dropdown > .dropdown-toggle.facility_dd:active, .page-header .page-header-top .top-menu .navbar-nav > li.dropdown > .dropdown-toggle.facility_dd:focus, .page-header .page-header-top .top-menu .navbar-nav > li.dropdown > .dropdown-toggle.facility_dd:hover{
    background-color: #3a530e;
}

.page-header .page-header-top .top-menu .navbar-nav > li.dropdown.open .dropdown-toggle.facility_dd, .page-header .page-header-top .top-menu .navbar-nav > li.dropdown:active .dropdown-toggle.facility_dd, .page-header .page-header-top .top-menu .navbar-nav > li.dropdown:focus .dropdown-toggle.facility_dd{
    background-color: #3a530e;
}
.custom-filter-sort{
    margin-bottom: 10px;
    z-index: 999;
}
.table-actions{
    text-align: right;
}
.table-actions-grp a:hover{text-decoration: underline;  }
.select2-container--open .select2-dropdown{
    z-index: 99999;
}

.table > tbody > tr.warning > td,
.table > tbody > tr.warning > th,
.table > tbody > tr > td.warning,
.table > tbody > tr > th.warning
{
    background-color: yellow;
}
.table > tbody > tr.success > td,
.table > tbody > tr.success > th,
.table > tbody > tr > td.success,
.table > tbody > tr > th.success
{
    background-color: #76c242;
}
.table > tbody > tr.danger > td,
.table > tbody > tr.danger > th,
.table > tbody > tr > td.danger,
.table > tbody > tr > th.danger
{
    background-color: #ff3e3e;
}
.table-hover > tbody > tr.active,
.table > tbody > tr.active > td,
.table > tbody > tr.active > th,
.table > tbody > tr > td.active
{
    background-color: #eef1f5;
}
/* direct message modal member page*/
.chats li.out .message.no-bg{
    background:#fff;
    border:none;
}
.message-filters{
    margin: 0 -10px;
}
.messages/*, .messages small*/{
    color: #4B77BE;
}
.messages small{
    color: #ccc;
    text-decoration: none!important;
}
.messages:hover/*, .messages small:hover*/{
    color: #23527c;
    text-decoration: underline;
    cursor: pointer;}

.messages small:hover{
    text-decoration: none!important;

}
.modal-form-title{
    border-bottom: 1px solid #eef1f5;
    float: none;
    clear: both;
    margin-bottom: 10px;
    padding-bottom: 10px;
}
.modal-form-title .caption{
    font-size: 16px;
}
.markread{
    /* position: absolute;
     z-index: 99;*/
    margin:0px 10px;
}
.group-type{
    font-size: 36px;
}
.facilityadminlist ul{
    padding-left: 40px;
    margin-top: 10px;
}
.facilityadminlist ul li{
    width: 100%;
    float: none;
    clear: both;
    margin-bottom: 10px;
}

.my_group_comp .chat-form .input-cont textarea.form-control{
    height: 34px;
}

.my_group_comp .chat-form .btn-cont{
    width: 80px;
}
.my_group_comp .chat-form .input-cont {
    margin-right: 80px;
}
.my_group_comp .chat-form .btn-cont .arrow{
    right: 80px;
}
.my_group_comp .chat-form .btn-cont .btn{
    float: left;
    margin-right: 1px;
}
.mt-element-list .list-simple.mt-list-container{
    padding: 0;
    border: none;
}
.mt-element-list .list-simple.mt-list-container ul > .mt-list-item > .list-item-content{
    padding: 0 30px;
}
.mt-element-list .list-simple.mt-list-container ul > .mt-list-item > .list-icon-container{
    font-size: 18px;
}
.member-info{
    padding: 10px 15px;
}
.member-info .profile-desc-link span {
    font-size: 14px;
    font-weight: normal;

}
.profile-usertitle-job{
    font-size: 15px;
}
.mar-l-30{
    margin-left: 30px;
}
.facility-group-wall .btn.btn-circle.btn-icon-only.btn-default.active > i, .facility-group-wall .btn.btn-circle.btn-icon-only.btn-default:hover > i{
    color: #a6b0bf!important;
    cursor: default;
}
.facility-group-wall .btn.btn-circle.btn-icon-only.btn-default.active, .facility-group-wall .btn.btn-circle.btn-icon-only.btn-default:hover{
    border-color: #bbc2ce!important;
    background-color: #fff!important;
    cursor: default;
}
.profile-desc-text dd {
    margin-left: 10px;
}
.profile-usermenu{
    padding-bottom: 0px;
}
.list-unstyled > p, .list-unstyled p  {
    margin: 0;
}
.list-unstyled.list-modal li{
    border-bottom: 1px solid #efefef;
    padding: 10px 0;
}
.dashboard-summary .portlet.box{
    margin-bottom: 10px;
}
.dashboard-summary .col-lg-6 {
    padding: 0px 5px!important;
}
.dashboard-summary .summary-content{
    padding: 10px 5px 10px 5px!important;
}
.dashboard-summary .portlet > .portlet-title > .caption > i{
    font-size: 18px;
}
.profile-rightbar{
    padding-left: 5px;
}
.goals-item {
    text-transform: uppercase;
    position: relative;
    min-height: 120px;
}
.goals-item .category-outer {
    position: absolute;
    height: 100%;
    width: 33px;
}
.goals-item .category-name {
    -webkit-transform: rotate(90deg);
    transform: rotate(90deg);
    position: absolute;
    padding: 5px;
    color: #fff;
    text-align: center;
    left: -83px;
    width: 197px;
    top: 34%;
}
.healthy-eating {
    background-color: #799c25;
}
.goals-item .table > tbody > tr > td{
    padding: 0px;
}
/* freuency graph CSS*/
/* Challenge graph CSS*/
.challenge-graph {
    position: relative;
    display: block;
    margin: 5px 0 5px 5px;
    background: #FFF;
    padding: 15px;
    -webkit-border-radius: 5px 0 0 5px;
    -moz-border-radius: 5px 0 0 5px;
    -ms-border-radius: 5px 0 0 5px;
    -o-border-radius: 5px 0 0 5px;
    border-radius: 5px 0 0 5px;
    border-width: 1px;
    border-color: #C5C5C5 #AFAFAF #AFAFAF #C5C5C5;
    border-style: solid none solid solid;
    min-height: 60px;
    color: #333
}
.challenge-graph .name {
    font-weight: bold;
    display: block;
    font-size: 1.3em;
    margin-bottom: 5px
}
.challenge-graph .badges {
    display: block
}
.challenge-graph-single {
    overflow-x: auto;
    background: #FFF;
    text-align: center;
    position: relative;
}
.challenge-graph-single .name {
    display: none
}
.challenge-graph-single .badges {
    position: absolute
}
.challenge-graph-single .frequency-graph {
    margin: 30px 0 10px
}
.frequency-graph {
    display: -moz-inline-stack;
    display: inline-block;
    vertical-align: middle;
    *vertical-align: auto;
    zoom: 1;
    *display: inline;
    white-space: nowrap;
    margin: 5px 0
}
.frequency-graph ul,
.frequency-graph li {
    list-style: none;
    margin: 0;
    padding: 0
}
.frequency-graph .grid {
    display: block
}
.frequency-graph .grid>ul {
    display: -moz-inline-stack;
    display: inline-block;
    vertical-align: bottom;
    *vertical-align: auto;
    zoom: 1;
    *display: inline;
    width: 23px;
    margin-right: 6px;
    position:relative;
    height: 60px;
}
.frequency-graph .grid>ul>li {
    height: 6px;
    width: 100%;
    background: #F2F2F2;
    -webkit-border-radius: 1px;
    -moz-border-radius: 1px;
    -ms-border-radius: 1px;
    -o-border-radius: 1px;
    border-radius: 1px;
    margin-bottom: 1px;
    position:absolute;
    bottom:0;
}
.frequency-graph .grid>ul>li.checked {
    background: #8ab43f;
    color: #FFF
}
.frequency-graph .grid>ul>li.streak {
    background: #ff9600;
    color: #FFF
}
.frequency-graph .grid>ul>li.labels_li {

    color: #999;
    font-size: 9px;
    margin-top: 2px;
    background: transparent;
}
.frequency-graph .labels {
    display: block;
    margin: 0;
    padding: 0;
    border: 0;
    color: #bbbbbb;
    font-size: 10px
}
.frequency-graph .labels:before,
.frequency-graph .labels:after {
    content: " ";
    display: table
}
.frequency-graph .labels:after {
    clear: both
}
.frequency-graph .labels li {
    list-style-image: none;
    list-style-type: none;
    margin-left: 0;
    display: -moz-inline-stack;
    display: inline-block;
    vertical-align: middle;
    *vertical-align: auto;
    zoom: 1;
    *display: inline;
    white-space: nowrap
}
.frequency-graph .labels li {
    text-align: center;
    width: 24px;
    margin-right: 6px
}
.frequency-graph .labels li:last-child {
    color: #333
}
.frequency-graph-monthly .grid>ul {
    vertical-align: bottom
}
.frequency-graph-monthly .grid>ul>li {
    height: 2px
}
.img-attachment{
    max-width: 50%;
    height: auto;
}

/* Group session page*/
.table_group-session p{margin: 3px 0;
    padding: 0;}
.table_group-session tr td div[class^="col-"]{
    padding-left: 0px;
    padding-right: 0px;

}


.table-actions .btn-iconhs{
    font-size: 14px;
    padding: 2px 6px;
    color: #4B77BE
}

.table-actions a.btn-iconhs:hover{
    color: #23527c;
    text-decoration: underline;
}
.table-actions.text-left{
    text-align: left;
}
/*.table-actions .btn-iconhs i{
    font-size: 17px;

}*/

.img-attachment{
    max-width: 50%;
    height: auto;
}
.dataTables_wrapper .dataTables_paginate .paginate_button{
    display: inline-block !important;
    padding: 0!important;
    margin-left: 0!important;
    margin-right: -4px!important;
}
.dataTables_wrapper .dataTables_paginate .paginate_button:hover{
    border: 1px solid #fff!important;
}



.-sew-list-container {
    background: white;
    border: 1px solid #DDD;
    border-radius: 3px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    min-width: 250px;
}

.-sew-list {
    list-style: none;
    margin: 0;
    padding: 0;
    height: auto;
}

.-sew-list-item {
    display: block;
    padding: 5px 10px;
    border-bottom: 1px solid #DDD;
    cursor: pointer;
}


.-sew-list-item small {
    color: #afafaf;
}

.-sew-list-item.selected {
    color: white;
    background: #4183C4;
    text-decoration: none;
}

.chat_message .body span{
    color: #3590c1;
}

/* Custom Button */
.member-list{
    padding: 0px 2px;
}
.member-list tr td .btn-sm {
    margin: 5px 2px 0 0;
}
/* Custom Button End */

/* Group session page*/
.table_group-session p{margin: 3px 0;
    padding: 0;}
.table_group-session tr td div[class^="col-"]{
    padding-left: 0px;
    padding-right: 0px;

}
.table-actions .btn-iconhs{
    font-size: 17px;
    padding: 2px 6px;
}

.modal .mt-checkbox-list, .modal .mt-radio-list{
    padding: 0;
}
.badge-green-jungle {
    background-color: #69921f;
    background-image: none;
}
.table>tbody>tr>td.goals-icon{
    padding: 0;
    vertical-align: text-bottom;
}
.profile-desc-text p{
    margin: 0 0 5px 15px;
}
.light-green-bg{
    background: #f2f6eb;
    margin-bottom: 0px;
    margin-top: -25px;
    padding: 10px 0px;
}
.mt-element-ribbon .ribbon-content{
    padding: 12px 20px 15px 20px;
}

.list-separated{
    padding: 0px;
}
.title-main {
    padding-bottom: 10px;
    border-bottom: 1px solid #ccc;
    display: block;
}
.list-separated .title{
    padding-bottom: 10px;
    margin: 0 0px 10px;
    display: block;;

}

/* logbook*/
.meal-title{
    border-bottom: 1px solid #ccc;
    padding: 5px 0;
    margin-bottom: 10px;
}

.log-btn .badge i {
    width: 14px;
    display: inline-block;
    height: 13px;
    line-height: 12px;
}
.log-btn.activity .badge{

    color: #fff;
    background: #f5c430;


}
.log-btn.weight .badge{
    color: #fff;
    background: #ab61af;


}
.log-btn.meal .badge{
    color: #fff;
    background: #8AB329;

}


/* meal Log*/

.meal-log .btn-default{
    padding: 0px;
    font: 0/0 a;
    text-align: center;
    overflow: hidden;
}

.meal-log .btn-default:before {    /* create a full-height inline block pseudo=element */
    content: ' ';
    display: inline-block;
    vertical-align: middle;  /* vertical alignment of the inline element */
    height: 100%;
}
.meal-log .btn-default img{
    width: 100%;
    /*height: auto;*/
    display: inline-block;
    vertical-align: middle;  /* vertical alignment of the inline element */
    font: 16px/1 Arial sans-serif;
}
.meal-title .btn-default{
    min-height: 18px;
}
.meal-title{
    border-bottom: 1px solid #ccc;
    padding: 5px 0;
    margin-bottom: 10px;
}

.log-info{
    position: absolute;
    bottom: 0;
    background-color: rgba(0, 0, 0, .6);
    width: 100%;
    padding: 5px 0;

}
/*.meal-log:nth-child(odd){
    border-right: 1px dotted #ccc;
}*/
.meal-log h4{
    font-size: 48px;
    line-height: 60px;
}
.meal-log .badge {
    position: absolute;
    font-size: 11px;
    font-weight: 300;
    top: -5px;
    right: 6px;
    padding: 3px 6px 3px 6px;
    color: white;
    text-shadow: none;
    border-width: 0;
    border-style: solid;
    -webkit-border-radius: 12px;
    -moz-border-radius: 12px;
    border-radius: 12px;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    background: #ed6b75;
}
.meal-log .progress {
    height: 15px;}
.meal-log .img-meal{
    /* position: absolute;
     width: calc(100% - 30px);*/
}
.btn-bg{
    background-repeat: no-repeat;;
    background-size: cover;
    background-color: #333; /* fallback color */
    opacity: .8;
}


.meal-log .overlay{
    width: calc(100% - 30px);
    height: calc(100% - 79px);
    /* height: 100%;*/
    position: absolute;
    overflow: hidden;
    top: 0;
    left: 0;
    padding: 21% 0 10px 0;
    margin: 0 15px;
    text-align: center;
    color: #333;
    cursor:pointer;
    /*pointer-events:none;*/
    overflow: visible;
    color: #fff;
    z-index: 77777;}

.meal-log .delete_meal {
    top: -5px;
    right: -6px;
    padding: 4px 9px 21px 9px;
    font-size: 16px !important;
    background: #3FD5C0;
    line-height: 14px !important;
    position: absolute;
    z-index: 88888;
}
#modal_add_profile_image{
    z-index: 99999;
}
.meal-log .overlay h6{
    margin-top: 5px;}
.meal-log .overlay h5{
    font-size:16px;
    margin: 0;}
.meal-log .overlay h4{
    font-size:28px;
    line-height: 30px;}
.meal-log .overlay h4 small{
    color: #fff;
}
.meal-log .overlay h5 small{
    color: #fff;
}
.btn-bg:hover{
    opacity: 1;
}
.profile-info h2{
    font-size: 22px;
}
.meal-progress h5{
    font-size: 12px;
}
.sale-summary li {
    padding: 6px 0;}
.food_text{
    min-height: 40px;
    max-height: 40px;
    overflow: hidden;
    text-overflow: ellipsis;
}
.food_text small{
    overflow: hidden;
    text-overflow: ellipsis;
}
.profile-userpic img {
    float: none;
    margin: 0 auto;
    width: 50%;
    height: auto !important;
    -webkit-border-radius: 50% !important;
    -moz-border-radius: 50% !important;
    border-radius: 50% !important;
}

.profile-userpic {
    margin: 0 20%;
    border-radius: 50%!important;
    overflow: hidden;
}
.profile-userpic img {
    width: 100%;
    height: auto;
    border-radius: 0%!important;
}

p img {
    width: 100%;
    margin-bottom: 3%;
}

@media screen and (min-width: 768px) {
    .custom-filter-sort {
        margin-bottom: -30px;
        z-index: 999;
    }
}

.page-header .page-header-top .page-logo .logo-default {
    width: 100%;
    height: auto;
}

.desc{
    width: 100%;
    margin-bottom: 3%;
}
.logo-wrapper{
    width: 400px;
    margin: auto;
}

.assigned-facility-list ul{
    margin: 0;
    padding: 0;
}
.assigned-facility-list ul li{
    padding: 5px 10px;
    list-style-type: none;
}
.assigned-facility-list ul li:before {
    content: "\f00c"; /* FontAwesome Unicode */
    font-family: FontAwesome;
    display: inline-block;
    margin-left: -1.3em; /* same as padding-left set on li */
    width: 1.3em; /* same as padding-left set on li */
    color:#557816;
}

/* css for group wall edit */

.del_img{
    position:absolute;
    top:0;
}
.img-box{
    position:relative;
}
.video_container{
    margin:auto;
}
.general-item-list > .item > .item-head > .item-details > .item-pic{
    height: 35px;
    margin-right: 10px;

}
.rounded{
    border-radius: 50% !important;
}

img.emojione {
    width: 3%;
}
.meal-log .btn-default img {
    width: 100%;
    /*height: auto;*/
    display: inline-block;
    vertical-align: middle;
    font: 16px/1 Arial sans-serif;
}

.btn:not(.btn-sm):not(.btn-lg) {
    line-height: 1.44;
}
/*p.comment-img { max-height:450px; width: 100%; display: block; }*/

/* for member dashboard name */

.profile-usertitle-job{

    word-wrap: break-word;
}
.dashboard_user_full_name{
    word-wrap: break-word;
}

/*force align message left in chat window*/
.chats li.out .message{
    text-align:left!important
}

/* for birthday button on my member page */
.btn-bday{
    position: relative;
    border-radius: 5px !important;
    color: #333!important;
    font-weight: bold;;
    /*    padding: 5px 6px;*/
}
.btn-bday span.glyphicon {
    position: absolute;
    top: -7px;
    color: red;
    font-size: 18px;
    right: -12px;
    text-shadow: -1px 1px 0px rgba(255, 255, 255, 1);
    -webkit-text-shadow: -1px 1px 0px rgba(255, 255, 255, 1);
}