/* here you can put your own css to customize and override the theme */
.margin-top-20{
	margin-top:20px;
}
.margin-btm-20{
	margin-bottom:20px;
}
.margin-t-b-20{
	margin-bottom: 20px;
	margin-top:20px;
}
.margin-t-b-10{
	margin-bottom: 10px;
	margin-top:10px;
}
.page-header.navbar .top-menu .navbar-nav > li.dropdown > .dropdown-toggle:last-child{
	padding-right: 10px !important;
}
.mt-widget-1{
	border: none;
}
.page-header.navbar .page-logo .logo-default {
    margin: 10px 0 0;
}
.mt-widget-1 .mt-img {
      margin: 15px 0 15px 0!important;
}
.user-feel input {
    margin: 0;
    padding: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: -999;
    opacity: 0;
}
.user-feel .radio-label {
    cursor: pointer;
    display: inline-block;
    transition: all 100ms ease-in;
    margin: 0 auto;
    padding: 15px 15px;
    background-color: #fff;
    color: #80898e;
    box-sizing: content-box;
    display: block;    
    text-align: center;
}
.user-feel input:active + .radio-label, .user-feel input:checked + .radio-label {
    /*border: 1px solid #64c1c8;*/
    color: #333!important;
}
.user-feel .hs-icon-feel i{
	font-size: 40px;
	text-align: center;;
}
.user-feel .hs-icon-feel span{
	font-size: 15px;
	text-align: center;
	width: 100%;
	display: block;;
}
.weight-log .btn-default{
    min-height: 95px;
}
.no-border{
    border: 0px !important;
}
.padding0{
    padding: 0px;
}
.chats li.out .message.no-bg{
    background:#fff;
    border:none;
}
.my_group_comp .chat-form .input-cont textarea.form-control{
    height: 34px;
}

.my_group_comp .chat-form .btn-cont{
    width: 80px;
}
.my_group_comp .chat-form .input-cont {
    margin-right: 80px;
}
.my_group_comp .chat-form .btn-cont .arrow{
    right: 80px;
}
.my_group_comp .chat-form .btn-cont .btn{
    float: left;
    margin-right: 1px;
}
.page-404 .details {
    top: 35px;
    position: relative;
}
.prgs_wht_space{
    margin-top: 65px;
}

/* meal Log*/

.meal-log .btn-default{
    padding: 0px;
    font: 0/0 a;
    text-align: center;
    overflow: hidden;
}

.meal-log .btn-default:before {    /* create a full-height inline block pseudo=element */
    content: ' ';
    display: inline-block;
    vertical-align: middle;  /* vertical alignment of the inline element */
    height: 100%;
}
.meal-log .btn-default img{
    width: 100%;
    height: auto;
    display: inline-block;
    vertical-align: middle;  /* vertical alignment of the inline element */
    font: 16px/1 Arial sans-serif;
}
.meal-title .btn-default{
    min-height: 18px;
}
.meal-title{
    border-bottom: 1px solid #ccc;
    padding: 5px 0;
    margin-bottom: 10px;
}

.log-info{
    position: absolute;
    bottom: 0;
    background-color: rgba(0, 0, 0, .6);
    width: 100%;
    padding: 5px 0;

}
/*.meal-log:nth-child(odd){
    border-right: 1px dotted #ccc;
}*/
.meal-log h4{
    font-size: 48px;
    line-height: 60px;
}
.meal-log .badge {
    position: absolute;
    font-size: 11px;
    font-weight: 300;
    top: -5px;
    right: 6px;
    padding: 3px 6px 3px 6px;
    color: white;
    text-shadow: none;
    border-width: 0;
    border-style: solid;
    -webkit-border-radius: 12px;
    -moz-border-radius: 12px;
    border-radius: 12px;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    background: #ed6b75; }
.meal-log .progress {
    height: 15px;}
.meal-log .img-meal{
    /* position: absolute;
     width: calc(100% - 30px);*/
}
.btn-bg{
    background-repeat: no-repeat;;
    background-size: cover;
    background-color: #333; /* fallback color */
    opacity: .8;
}

.meal-log .overlay{
    width: calc(100% - 30px);
    height: calc(100% - 60px);
    /* height: 100%;*/
    position: absolute;
    overflow: hidden;
    top: 0;
    left: 0;
    padding: 21% 0 10px 0;
    margin: 0 15px;
    text-align: center;
    color: #333;
    pointer-events:none;
    overflow: visible;
    color: #fff; }

.meal-log .overlay .badge {
    top: -5px;
    right: -6px;
    padding: 2px 5px 3px 6px;
    font-size: 8px!important;
    background: #3FD5C0;
}
.meal-log .overlay h6{
    margin-top: 5px;}
.meal-log .overlay h5{
    font-size:16px;
    margin: 0;}
.meal-log .overlay h4{
    font-size:28px;
    line-height: 30px;}
.meal-log .overlay h4 small{
    color: #fff;
}
.meal-log .overlay h5 small{
    color: #fff;
}
.btn-bg:hover{
    opacity: 1;
}
.profile-info h2{
    font-size: 22px;
}
.meal-progress h5{
    font-size: 12px;
}
.sale-summary li {
    padding: 6px 0;}
.food_text{
    min-height: 40px;
    max-height: 40px;
    overflow: hidden;
    text-overflow: ellipsis;
}
.food_text small{
    overflow: hidden;
    text-overflow: ellipsis;
}
.modal .user-feel .hs-icon-feel i{
    font-size: 30px;
}
.meal-log .progress-bar {
    line-height: 15px;
    font-weight: 600;
}

.log-btn .badge i{
    width: 14px;
    display: inline-block;
    height: 13px;
    line-height: 12px;
}

/*.log-btn.activity{
    background: #f5c430;
    color: #fff;

}*/

.log-btn.activity .badge{

    color: #fff;
    background: #f5c430;


}

/*.log-btn.weight{
    background: #ab61af;
    color: #fff
}*/

.log-btn.weight .badge{
    color: #fff;
    background: #ab61af;


}
/*.log-btn.meal{
    background: #8AB329;
    color: #fff
}*/

.log-btn.meal .badge{
    color: #fff;
    background: #8AB329;

}

/* Settings panel*/

.panel-mealtab{
    border-color: #8AB329;
}

.panel-mealtab > .panel-heading{
    color: #fff;
    background-color: #8AB329;
    border-color: #8AB329;

}

.panel-mealtab > .panel-heading a:hover{
    color: #fff;
}

.panel-activitytab{
    border-color: #f5c430;
}

.panel-activitytab > .panel-heading{
    color: #fff;
    background-color: #f5c430;
    border-color: #f5c430;

}

.panel-activitytab > .panel-heading a:hover{
    color: #fff;
}

.panel-weighttab{
    border-color: #ab61af;
}

.panel-weighttab > .panel-heading{
    color: #fff;
    background-color: #ab61af;
    border-color: #ab61af;

}

.panel-weighttab > .panel-heading a:hover{
    color: #fff;
}

.tabbable-line.portlet-title > .nav-tabs > li:not(.active){
    border-bottom: 4px solid #fff;
}
.tabbable-line.portlet-title > .nav-tabs > li:hover {
    background: none;
    border-bottom: 4px solid #9fe4ea;
}

#tab_1_4 .accordion-toggle i.pull-right::before{
    content: "\f106"!important;
}

#tab_1_4 .accordion-toggle.collapsed i.pull-right::before{
    content: "\f107"!important;
}

.wrap-white-space{
    white-space: pre-wrap;
}
.profile-nav .img-responsive{
    width:100%;
    height: auto;
}

.tabbable-line .overlay{
    height: 100%;
}
.tabbable-line .meal-log .col-xs-12 .overlay .badge{
    display: none;
}
.tabbable-line .meal-log .col-xs-12:hover .tabbable-line .meal-log .col-xs-6.selected {
    border: 1px solid #333;
}
.tabbable-line .meal-log .col-xs-12:hover .overlay .badge{
    display: block;
}
.tabbable-line .meal-log .col-xs-12.selected .overlay .badge{
    display: block;
}
.tabbable-line .meal-log .col-xs-12 {margin-top: 20px;}
.nav-profile-wrap{
    width: 29px;
    height: 29px;
    overflow: hidden;
    float: left;
    border-radius: 50% !important;
    margin-top: -4px;
    margin-right: 10px;
    text-align: center;
}
.nav-profile-wrap.portrait img{
    width: 100%;
    height: auto;
}

.nav-profile-wrap.landscape img{
    height: 100%;
    width: auto;
}

.border-bottom{
    border-bottom: 1px solid #adadad;
}
#meal_logging_options .btn-block{
    text-align: left!important;
    margin: 10px 0px!important;
}

@media screen and (max-width:480px){
    .page-header.navbar .top-menu .navbar-nav > li.dropdown .dropdown-toggle > i{
        color: #333;
    }
}
@media screen and (max-width:767px){
  .modal#modal_add_activity .form-control, .modal#modal_add_weight .form-control{
      margin-top: 10px;
  }
}



/* CSS for profile pic landscape -portrait*/
.profile-userpic{
    margin: 0 20%;
    border-radius: 50%!important;
    overflow: hidden;
}

.profile-userpic img{
    width: 100%;
    height: auto;
    border-radius: 0%!important;
}