/* here you can put your own css to customize and override the theme */
.page-header .page-header-menu li > a > .arrow::before{
    float: right;
    width: 20px;
    text-align: center;
    display: inline;
    font-size: 16px;
    font-family: FontAwesome;
    height: auto;
    content: "\f107";
    font-weight: 300;
    text-shadow: none;
    position: absolute;
    right: 14px;
}
.page-header .page-header-menu li > a > .arrow{
width:20px;
float: left;
}
.page-header .page-header-top .page-logo .logo-default {
    margin: 15px 0 0;
}
.member-table tr td{

}
.memberid{
	font-size: 15px;
	font-weight: bold;
}
.member-table tr td p{
	margin:0px;
}
.member-table tr td .btn-xsm{
	padding: 2px 5px;
	font-size: 11px;
	margin: 5px 5px 0 0;
}
.member-table tr td .btn-sm{
	margin: 5px 5px 0 0;
}
.select2-container--open .select2-dropdown{
    z-index: 99999;
}